/* Custom CSS for Responsive Design */
@media (max-width: 768px) {
  .jobs_filter {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .jobs_filter.open {
    transform: translateX(0);
  }

  .jobs-content {
    width: 100%;
  }

  .jobs-details {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

/* styles.css atau file CSS Anda */
.modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  width: 500px;
  max-height: 90vh; /* Batasi tinggi modal */
  overflow-y: auto; /* Aktifkan scroll vertikal */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}